nav{
    position: fixed;
    background-color: rgb(0, 195, 255);
    height: 70px;
    width: 100%;
    z-index: 1;
}
.logo{
    font-size: 25px;
    position:relative;
    left:5%;
    color: white;
    font-weight: bold;
    line-height:70px;

}
ul{
    float:right;
    margin-right:5%;
}